@font-face {
    font-family: "Air America";
    src: url("../fonts/AirAmerica-Regular.otf");

}

body {
    font-family:  "Air America";
    background-color: saddlebrown;
}

h1 {
    font-size: 40px;
    color:paleturquoise;
    text-align: center;
    letter-spacing: 2px;
}

nav ul {
    display:flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

li a {
    color: paleturquoise; 
    letter-spacing: 2px;
    text-decoration: none;
}

/***********************************************************************************************EspaceJeu******************************************************************************************/ 

#section_regles {
    background-color: rgb(72, 163, 163);
    border: 1px solid black;
    border-radius: 10px;
    letter-spacing: 1px;
    height: 400px;
    width: 50%;
    padding: 0;
    text-align: center;
}

#section_regles a {
    border: 1px solid saddlebrown;
    border-radius: 50px;
    color: saddlebrown;
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100px;
    height: 100px;
    margin: auto;
}

#section_jeu {
    border: 1px solid black;
    height: 400px;
    width: 50%;
    position: relative;
}

#conteneur_jeu {
    display: flex;
    justify-content: space-around;
}

.Winning {
    position: absolute;
    background-color: saddlebrown;
    opacity: 0.8;
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.5rem;
    color: paleturquoise;
    height: 100%;
    width: 100%;
    top: 0px;
}

.Winning a {
    color: paleturquoise;
}

/* Personnage */

.chien{
    background-color: red;
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 4px;
}

/* Route et trottoir */


.trottoir {
    background-color: burlywood;
    height: 50px;
    width: 100%;
   
}

.route {
    box-sizing: border-box;
    background-color: grey;
    height: 75%;
    width: 100%;
}

.voie {
    box-sizing: border-box;
    border-bottom: 1px dotted white;
    height: 50px;
}



/**********************************************************************************************EspaceContact***************************************************************************************/

#section_contact {
    background-color:rgb(72, 163, 163);
    border: 1px solid black;
    border-radius: 10px;
    height: 500px;
    width: 100%;
    letter-spacing: 1px;  
    display: none; 
}

#section_contact p {
    /*display: block;*/
    text-align: center;
    font-size: 25px;
}
#section_contact a{
    color: black;
}

/*********************************************************************Espace CV ***************************************************/


#section_cv {
    display: none;
    justify-content: center;
}

#image_CV {
    background-color: black;
}

#image_CV img {
    height: 800px;
}

